@charset "UTF8";

#dataContainer{
    background-color: #acc;
    padding: 40px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#foto{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}